.inpuCrearTarea {
  position: relative;
  display: flex;
  height: 10vh;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 10px;
  background-color: #94b49f;
}

.inpuCrearTarea input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 400px;
  font-weight: bold;
}
.inpuCrearTarea button {
  margin: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 60px;
  height: 6vh;
  text-align: center;
  font-size: 2rem;
}
